build/*
nbproject/*
setting/database_production.xml
setting/database.ini
setting/database.xml
setting/logo.jpg
setting/modem.xml
setting/wallpaper.jpg
dist/*
nbproject/private/private.xml
/KhanzaHMSResume/build/
/KhanzaPengenkripsiTeks/build/
/KhanzaHMSServiceMobileJKNERM/build/
/KhanzaHMSAutoVerify2/build/
/KhanzaHMSAnjunganFingerPrint/build/
/KhanzaUpdater/build/
/KhanzaHMSServiceSIRSYankes/build/
/KhanzaHMSServiceMobileJKN/build/
/KhanzaCetakAntrianLoket/build/
/KhanzaHMSServiceAplicare/build/
/KhanzaAntrianLoket2/build/
/KhanzaHMSAutoVerify/build/
/KhanzaHMSAnjungan/build/
/KhanzaSecurity16bit/build/
/KhanzaHMSServiceSatuSehat/build/
/KhanzaHMSServicePCare/build/
/KhanzaAntrianLoket/build/
/KhanzaAntrianApotek/build/
/KhanzaAntrianPoli/build/
